* {
  font-family: 'Inter', sans-serif;
}
html {
  background: linear-gradient(118deg, #01d1fd 35%, #01d1fd 41%, #01d1fd 72%, #00d4ff 87%);
}
html body {
  background-color: unset;
}
.btn {
  background-color: #FFA500;
  font-weight: bold;
  border-radius: 30px;
}
.container .navbar {
  border-radius: 30px;
}
.container .navbar .container {
  margin: 0 20px;
}
.container .navbar .container .nav-item {
  background-color: white;
  padding: 10px 30px;
  margin: 5px;
  border-radius: 30px;
}
.container .navbar .container .nav-item .nav-link {
  color: #F4F0EC;
  font-weight: bold;
}
.container .navbar .container .nav-item.active {
  background-color: #FFA500;
}
.container .navbar .container .collapse.navbar-collapse {
  justify-content: center;
}
.container .car-detail {
  margin: 20px 0px;
}
.container .car-detail .row {
  justify-content: space-around;
}
.container .car-detail .row .col-xl-7 {
  text-align: center;
  background-color: #F4F0EC;
  border-radius: 30px;
  padding: 50px 0px;
  height: 265px;
}
.container .car-detail .row .col-xl-7 .car-image {
  width: 50%;
}
.container .car-detail .row .col-xl-4 {
  background-color: #F4F0EC;
  border-radius: 30px;
}
.container .car-detail .row .col-xl-4 table {
  border-radius: 30px;
}
.container .car-detail .row .col-xl-4 table tr {
  text-transform: uppercase;
}
.container .car-detail .row .col-xl-4 table td {
  text-align: right;
}
.container .car-detail .row .col-xl-4 .date-price-info h3 {
  color: #1FA5FF;
}
.container .car-detail .row .col-xl-4 .date-price-info h3 span {
  font-size: 20px;
  color: black;
}
.container .car-detail .row .col-xl-4 .date-price-info h2 {
  color: #FFA500;
  border: 2px solid #FFA500;
  border-radius: 30px;
  padding: 3px 0px;
}
